
.main-pool-status {
  p {
    margin-bottom: 4px;
  }
}

/* structure */
h1, h2, h3 {
  font-weight: bold;
}

.ebavs-text-bold {
  font-weight: bold;
}

.card-content {
  p {
    margin-bottom: 10px !important;
  }
}

.init-loader {
  height: 400px;
}

.overlay-nav {
  width: 100%;
  opacity: 0.6;
  height: calc(100% + 60px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 995;
  overflow-y: auto;
  background-color: white;
}

.side-nav {
  width: 200px;
  transition: transform .5s ease;
}

.show-menu {
  transform: translateX(0);
  transition: transform .5s ease;
}

.max-results {
  height: 35px;
}

.results-number {
  opacity: 1 !important;
  pointer-events: auto  !important;
  width: 60px !important;
  height: 35px !important;
  float: right;
  position: relative !important;
  right: 10px;
}

//reset checxbox
[type="checkbox"] {
  position: relative !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

.column-totalshares,
.column-hash,
.column-hash1hr,
.column-hash1d {
  cursor: pointer;
}


.charts {
  width: 1000px;
  height:400px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}