<div class="footer-copyright teal">
    <div class="container">
        Powered by <a class="grey-text text-lighten-4" href="https://www.ebavs.net/">ebavs/</a> with love for <a href="http://ckpool.org" class="grey-text text-lighten-4" >ckpool.org</a>
    </div>
</div>