<div class="navbar-fixed">
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="#" class="right brand-logo">CKPOOL.ORG</a>
            <a href="#" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="ebavs-menu left hide-on-med-and-down">
                <li><a href="/#/" class="waves-effect waves-teal">Home</a></li>
                <li><a href="/#/dashboard" class="waves-effect waves-teal">Dashboard</a></li>
                <li><a href="/#/work" class="waves-effect waves-teal">Work</a></li>
                <li><a href="/#/miners" class="waves-effect waves-teal">Active Miners</a></li>
                <li><a href="/#/user" class="waves-effect waves-teal">User</a></li>
                <li><a href="https://btc.com/stats/pool/CKPool" class="waves-effect waves-teal" target="_blank">Blocks</a></li>
            </ul>
            <ul class="ebavs-menu side-nav" id="mobile-menu">
                <li><a href="/#/" class="waves-effect waves-teal">Home</a></li>
                <li><a href="/#/dashboard" class="waves-effect waves-teal">Dashboard</a></li>
                <li><a href="/#/work" class="waves-effect waves-teal">Work</a></li>
                <li><a href="/#/miners" class="waves-effect waves-teal">Active Miners</a></li>
                <li><a href="/#/user" class="waves-effect waves-teal">User</a></li>
                <li><a href="https://btc.com/stats/pool/CKPool" class="waves-effect waves-teal" target="_blank">Blocks</a></li>
            </ul>
            <div class="overlay-nav hide">

            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col s12 m4 l4">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Pool Hashrate: <span class="header-pool-hashrate right"></span></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Shares Per Second: <span class="header-pool-sps right"></span></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Your Hashrate: <span class="main-user-hashrate right"></span></span>
            </div>
        </div>
    </div>
</div>