<h1>Welcome to ckpool.org!</h1>
<h2>No frills, no fuss ZERO FEE anonymous SPLNS bitcoin mining for everyone</h2>
<h3>No registration required, coinbase generation, no pool op wallets</h3>

<p>
    <a href="https://bitcointalk.org/index.php?topic=1876330.0">Support thread</a>
</p>
<p>
    <b>Configuration:</b><br>
</p>

Just point your miner to one of:<br>
<blockquote>
    <ul>
        <li>pool.ckpool.org:3333</li>
        <li>pool.ckpool.org:443</li>
    </ul>
</blockquote>
Miners closer to Europe please use one of:<br>
<blockquote>
    <ul>
        <li>depool.ckpool.org:3333</li>
        <li>depool.ckpool.org:443</li>
    </ul>
</blockquote>
<p>
    Miners in China please use:
</p>
<blockquote>
    <ul>
        <li>cn.ckpool.org:443</li>
    </ul>
</blockquote>
<p>
    If you use an incompatible rental service that refuses to work on port 3333 try the following (only accepts usernames without worker extensions):
</p>
<blockquote>
    <ul>
        <li>pool.ckpool.org:4334</li>
    </ul>
</blockquote>
<p>
    Set your username to your btcaddress with any or even no worker extension, and any password.<br>
    <blockquote>
    eg: cgminer -o stratum+tcp://pool.ckpool.org:3333 -u 1PKN98VN2z5gwSGZvGKS2bj8aADZBkyhkZ.0 -p x
    </blockquote>
    If you enter an invalid address you will be rejected
</p>
<p>
    <b>Statistics:</b><br>
    Simple total pool statistics can be found at <a href="/#/dashboard">pool</a><br>
</p>
<p>
    ckpool.org currently only displays minimal per user and worker information.<br>
    To access user statistics, enter your BTC address below:<br>
    <input type="text" style="width:300" id="username" /><br>
    or append your username to: http://ckpool.org/users/<br>
</p>

<p>
    <b>Blocks:</b><br>
    Solved block details can be found at <a href="http://ckpool.org/blocks/">blocks</a><br>
</p>
<p>
    <b>SPLNS</b><br>
    SPLNS stands for Score Per Last N Shares. Score refers to the fact that share value is weighted by the difficulty of the share found.<br>
    Last N Shares refers to the fact that the score is a rolling score based on N shares where N means 5 x the current difficulty.<br>
    The rolling average is weighted according to when the shares were found - the more recent shares are the more they are worth.<br>
</p>
<p>
    <b>Features of SPLNS:</b><br>
    Hop proof - the system cannot be gamed to earn more by hopping on and off during lucky blocks.<br>
    Short "ramp up time" compared to PPLNS - rewards more rapidly rise to stable levels when you first start hashing.<br>
    Long "ramp down time" - you are still entitled to rewards for a very long period which is pool hashrate dependant rather than time dependent so you don't quickly "fall off" and earn nothing when you stop mining. Additionally this helps minimise variance for intermittent miners.<br>
    Lucky rewards - since shares are weighted by the difficulty of the share found, if you are a small miner that has a handful of lucky high diff shares, you can earn significantly more, capped at current network difficulty.<br>
    Block finder rewards - as per lucky rewards, a large share weight is attached to block finds (but is applied to the next block reward since user rewards are included in the existing unsolved block reward.) The sooner the next block is found, the higher the block finder reward is.<br>
    Malicious & faulty miner disincentives - since shares are rewarded according to the difficulty of the share found, malicious miners that withhold block solves, or faulty hardware that doesn't produce high diff shares will have substantially less reward than on any other pay scheme or pool.<br>
    <br>
    SPLNS calculation is done on the fly and updated every minute based as a product of HERP DERP.<br>
    Herp stands for Hash Extracted Rate Product - where each share is worth sqrt(MIN(share diff, network_diff) / work_diff) * work_diff / 2<br>
    Derp stands for Difficulty Extrapolated Reward Payment - where the reward equals the user's herp divided by the pool's herp i.e. it is the expected reward should a block be found now.<br>
    The pool's Herp is simply added until it reaches 5 * network difficulty. After that it is biased every minute by scaling existing herp down to add the latest minute's herp and all users' herp is adjusted by the same scale the pool's was.<br>
</p>
<p>
    <b>Additional and/or unique ckpool.org features:</b><br>
    Accurate statistics by the minute - while the statistics displayed at ckpool.org are rudimentary, they are updated by the minute and include accurate estimates of hash rate, herp and derp - which translates into an accurate estimate of payout should a block be solved.<br>
    Luck estimates - as the difficulty of each share is calculated into the user's herp, it is compared to an equivalent 'last N share' calculation to determine the miner's overall luck. This is done on a per worker and per user basis and displayed in the stats.The larger the miner and the longer they mine, the closer to 1 their luck will be while small miners may have much more variation.<br>
    Coinbase generation - Block solve reward is distributed directly from the block to each user, meaning each user gets a 'mined' transaction directly into their wallet as soon as the block is solved so there is no wait to get paid and no pool wallet storing user's rewards. Rewards will be considered 'immature' by bitcoin rules so will be unspendable until 100 network confirmations have passed.<br>
    Interleaved rewards - Each time a block is solved, the top 100 miners will receive a payout while 50 of the remaining smaller miners will receive a payout. Rewards will alternate between the smaller miners according to who has waited the longest for a payout. Rewards accumulate from blocks worked on even if miners are not scheduled for a payout with that block. This is done to minimise the size of the coinbase transaction to minimise latency, maximise mining hardware compatibility, and to make sure miners don't receive many small payouts which would lead to much larger fees when spending their reward. <br>
    Micropayments - payments below the dust threshold at block solve time will add to the user's herp for the next block. Once a miner's reward on successive blocks is greater than the dust threshold they will join other users with interleaved payouts.<br>
    Blocks are always as full as network congestion demands - ckpool never mines empty or light blocks and yet is still extremely fast at getting new work out to miners on block changes to minimise wasted work and decrease orphan risk.<br>
    Rapid propagation of blocks thanks to high speed low latency connections across a network of bitcoin nodes to further decrease orphan risk.<br>
    Shares all transaction fees with miners - transaction fees account for a significant portion of mining reward now and as ckpool.org always mines blocks full of transactions the extra rewards can be substantial.<br.>
    Massively scalable - ckpool can handle extremely large amounts of miners without detriment to performance.<br>
    <br>
    All pool code source freely available here: <a href="https://bitbucket.org/ckolivas/ckpool-splns">ckpool-splns</a><br>
</p>
<p>
    Support and live discussion on IRC: irc.freenode.net #ckpool
</p>
<p>
    Pool code and pool operated and created by Con Kolivas, creator of cgminer and ckpool.
</p>
<p>
    <b>Donations graciously accepted at 14BMjogz69qe8hk9thyzbmR5pg34mVKB1e</b>
</p>