<div class="row">
    <div class="col s12 m12 l12">
        <h1>Active Miners</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card teal lighten-5">
            <div class="card-content">
                <table class="striped responsive-table main-miners-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>H/s 1h</th>
                            <th>H/s 1d</th>
                            <th>H/s 1w</th>
                            <th>workers</th>
                            <th>shares</th>
                            <th>best share</th>
                            <th>luck</th>
                            <th>herp</th>
                            <th>derp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td colspan="8">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-only">
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>H/s 1h</th>
                            <th>H/s 1d</th>
                            <th>H/s 1w</th>
                            <th>workers</th>
                            <th>shares</th>
                            <th>best share</th>
                            <th>luck</th>
                            <th>herp</th>
                            <th>derp</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
