<div class="row">
    <div class="col s12 m12 l12">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="row main-pool-status">
    <div class="col s12 m6 l6">
        <div class="card teal lighten-5">
            <div class="card-content">
                <span class="card-title">Pool Status</span>
                <p>
                    <span class="ebavs-text-bold">Runtime:</span>
                    <span class="right main-data-runtime"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Last Update:</span>
                    <span class="right main-data-lastupdate"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Total Users:</span>
                    <span class="right main-data-users"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Total Workers:</span>
                    <span class="right main-data-workers"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Idle:</span>
                    <span class="right  main-data-idle"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Disconnected:</span>
                    <span class="right  main-data-disconnected"></span>
                </p>

                <p>
                    <span class="ebavs-text-bold">Accepted:</span>
                    <span class="right  main-data-accepted"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Rejected:</span>
                    <span class="right  main-data-rejected"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Diff:</span>
                    <span class="right  main-data-diff"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">lns:</span>
                    <span class="right  main-data-lns"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">herp:</span>
                    <span class="right  main-data-herp"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Reward:</span>
                    <span class="right  main-data-reward"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card teal lighten-5">
            <div class="card-content">
                <span class="card-title">Network</span>
                <p>
                    <span class="ebavs-text-bold">Hashrate 1 minute:</span>
                    <span class="right  main-data-hashrate1m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 5 minutes:</span>
                    <span class="right  main-data-hashrate5m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 15 minutes:</span>
                    <span class="right  main-data-hashrate15m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 1 hour:</span>
                    <span class="right  main-data-hashrate1h"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 6 hour:</span>
                    <span class="right  main-data-hashrate6h"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 1 day:</span>
                    <span class="right  main-data-hashrate1d"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Hashrate 7 day:</span>
                    <span class="right  main-data-hashrate7d"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Shares Per Second 1 minute:</span>
                    <span class="right  main-data-sps1m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Shares Per Second 5 minutes:</span>
                    <span class="right  main-data-sps5m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Shares Per Second 15 minutes:</span>
                    <span class="right  main-data-sps15m"></span>
                </p>
                <p>
                    <span class="ebavs-text-bold">Shares Per Second 1 hour:</span>
                    <span class="right  main-data-sps1h"></span>
                </p>
            </div>
        </div>
    </div>
</div>