<div class="row">
    <div class="col s12 m12 l12">
        <h1>User</h1>
    </div>
</div>
<div class="row">
    <form class="col s12 m12 l12">
        <div class="row">
            <div class="input-field col s10 m10 l10">
                <input id="btc-address" type="text" class="validate main-user-status-address" placeholder="Bitcoin Address">
            </div>
            <div class="input-field col s2 m2 l2 right-align">
                <button class="btn waves-effect waves-light main-user-status-button" type="submit" name="action">See User</button>
            </div>
        </div>
    </form>
</div>

<div class="main-user hide">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hashrate (1m): <span class="main-user-hashrate-1m right"></span></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hashrate (5m): <span class="main-user-hashrate-5m right"></span></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hashrate (1h): <span class="main-user-hashrate-1h right"></span></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hashrate (1d): <span class="main-user-hashrate right"></span></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hashrate (1w): <span class="main-user-hashrate-1w right"></span></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Total Shares: <span class="main-user-shares right"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 charts center-align">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="row workers-list hide">
        <div class="input-field col s12 m2 l2 dead-workers hide">
            <input type="checkbox" class="dead-workers-check" checked="checked" />
            Only show active workers
        </div>
        <div class="input-field col s12 m10 l10 max-results hide">
            <select class="results-number" name="results-number">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>
        <div class="col s12 m12 l12">
            <div class="card teal lighten-5">
                <div class="card-content">
                    <table class="striped responsive-table main-user-workers">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Worker</th>
                                <th class="column-hash">Hashrate<i class="tiny material-icons">arrow_drop_down</i></th>
                                <th class="column-hash1hr">1hr Hashrate<i class="tiny material-icons">arrow_drop_down</i></th>
                                <th class="column-hash1d">1d Hashrate<i class="tiny material-icons">arrow_drop_down</i></th>
                                <th class="column-totalshares">Total Shares<i class="tiny material-icons">arrow_drop_down</i></th>
                                <th>Last Share</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot class="hide-on-small-only">
                            <tr>
                                <th></th>
                                <th>Worker</th>
                                <th>Hashrate</th>
                                <th>1hr Hashrate</th>
                                <th>1d Hashrate</th>
                                <th>Total Shares</th>
                                <th>Last Share</th>
                            </tr>
                        </tfoot>
                        <tfoot class="pagination hide">
                            <tr>
                                <td colspan="7" class="pagination-numbers center-align">

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card teal lighten-5">
                <div class="card-content">
                    <span class="card-title">User</span>
                    <p>
                        <span class="ebavs-text-bold">lns:</span>
                        <span class="right  main-user-lns"></span>
                    </p>
                    <p>
                        <span class="ebavs-text-bold">herp:</span>
                        <span class="right  main-user-herp"></span>
                    </p>
                    <p>
                        <span class="ebavs-text-bold">luck:</span>
                        <span class="right  main-user-luck"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card teal lighten-5">
                <div class="card-content">
                    <span class="card-title">Status</span>
                    <p>
                        <span class="ebavs-text-bold">Last Share:</span>
                        <span class="right main-user-lastshare"></span>
                    </p>
                    <p>
                        <span class="ebavs-text-bold">Best Share:</span>
                        <span class="right main-user-bestshare"></span>
                    </p>
                    <p>
                        <span class="ebavs-text-bold">derp:</span>
                        <span class="right main-user-derp"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>