
<div class="row">
    <div class="col s12 m12 l12">
        <h1>Work</h1>
    </div>
</div>
<div class="row">
    <div class="col s12 m3 l3">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Height: <span class="main-work-height right"></span></span>
            </div>
        </div>
    </div>
    <div class="col s12 m3 l3">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Fee: <span class="main-work-fee right"></span></span>
            </div>
        </div>
    </div>
    <div class="col s12 m3 l3">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Reward: <span class="main-work-reward right"></span></span>
            </div>
        </div>
    </div>
    <div class="col s12 m3 l3">
        <div class="card-panel blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Herp: <span class="main-work-herp right"></span></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card teal lighten-5">
            <div class="card-content">
                <span class="card-title">Payment</span>
                <table class="striped responsive-table main-work-reward-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>Payout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-only">
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>Payout</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card teal lighten-5">
            <div class="card-content">
                <span class="card-title">Postponed</span>
                <table class="striped responsive-table main-work-postponed-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>Herp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-on-small-only">
                        <tr>
                            <th></th>
                            <th>Address</th>
                            <th>Herp</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>